body {
  background: #eee;
  color: #111;
}

div.container {
  margin: 0px !important;
  padding: 2em;
}

button {
  background: #111 !important;
  color: #eee;
}

div.color-picker {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.color-picker button {
  font-size: 0.7em;
  margin-left: 0.5em;
  position: relative;
  top: -4px;
  background: #bbb !important;
  color: #111;
}

div.colors-container {
  width: 100%;
}

div.colors-container div.col-left,
div.colors-container div.col-right {
  width: 50%;
  float: left;
}
